@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Gilda+Display&family=Kaushan+Script&family=Open+Sans:wght@400;600;700&family=Roboto:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3 {
        font-family: theme("fontFamily.display");
    }

    h1 {
        font-size: theme("fontSize.h1");
        line-height: theme("lineHeight.h1");
    }

    h2 {
        font-size: theme("fontSize.h2");
        line-height: theme("lineHeight.h2");
    }

    h3 {
        font-size: theme("fontSize.h3");
        line-height: theme("lineHeight.h3");
    }
}

@layer components {
    .cta-mask {
        mask: url("/utils/cta-mask.png");
        -webkit-mask: url("/utils/cta-mask.png");
        mask-size: 3000% 100%;
        -webkit-mask-size: 3000% 100%;
    }
}

@layer utilities {
    li {
        list-style: none;
    }
}